.scroll-bar {
    position: fixed;
    top: 6.5%;
    left: 0;
    right: 0;
    height: 10px;
    transform-origin: 0%;
}

@media (max-width: 48em) {
    .scroll-bar{
        height: 12px;
        top: 7.2%;
    }
}